# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\websiteBanAo\SD_125_BE_BanAoMimiShop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
